## Prior code
This is the code to create the initial dataframe from [Github](https://github.com/hybridindie/Coursera_Capstone/blob/master/Segment-Cluster.ipynb)

In [2]:
%pip install lxml
import pandas as pd
html_df = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]
html_df = html_df[~html_df["Borough"].str.contains("Not assigned")]
html_df.loc[html_df['Neighbourhood']=='Not assigned', 'Neighbourhood'] = html_df['Borough']
html_df = html_df.groupby('Postcode').agg({'Borough':'first', 
                                 'Neighbourhood': ', '.join
                                }).reset_index()
html_df.head()

Collecting lxml
  Downloading https://files.pythonhosted.org/packages/45/6c/436a534dca42f7982ba793983353035d117ab70541266704974efa323ade/lxml-4.3.3-cp37-cp37m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (8.7MB)
    100% |████████████████████████████████| 8.7MB 5.5MB/s eta 0:00:01
Installing collected packages: lxml
Successfully installed lxml-4.3.3
Note: you may need to restart the kernel to use updated packages.

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

## Read and transform CSV
*We choose to read the csv to limit the frustration and time consumption*

Read in the csv file and rename the "Postal Code" column to make the next step simpler in the dataframe reconstruction.

In [3]:
lnglat_df = pd.read_csv('./Geospatial_Coordinates.csv')
lnglat_df = lnglat_df.rename(index=str, columns={"Postal Code": "Postcode"})
lnglat_df.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

## Merge dataframes
Leveraging the previous rename() step we perform a merge of the df from the scrape and the dataaframe from the csv file load based on the "Postcode" column.

In [4]:
df = pd.merge(html_df, lnglat_df, on='Postcode')
df.head(20)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848
10,M1P,Scarborough,"Dorset Park, Scarborough Town Centre, Wexford ...",43.757410,-79.273304
11,M1R,Scarborough,"Maryvale, Wexford",43.750072,-79.295849
12,M1S,Scarborough,Agincourt,43.794200,-79.262029
13,M1T,Scarborough,"Clarks Corners, Sullivan, Tam O'Shanter",43.781638,-79.304302
14,M1V,Scarborough,"Agincourt North, L'Amoreaux East, Milliken, St...",43.815252,-79.284577
15,M1W,Scarborough,L'Amoreaux West,43.799525,-79.318389
16,M1X,Scarborough,Upper Rouge,43.836125,-79.205636
17,M2H,North York,Hillcrest Village,43.803762,-79.363452
18,M2J,North York,"Fairview, Henry Farm, Oriole",43.778517,-79.346556
19,M2K,North York,Bayview Village,43.786947,-79.385975