## Prior code
This is the code to create the initial dataframe from [Github](https://github.com/hybridindie/Coursera_Capstone/blob/master/Segment-Cluster.ipynb)

In [19]:
%pip install lxml
import pandas as pd
df = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]
df = html_df[~html_df["Borough"].str.contains("Not assigned")]
df.loc[df['Neighbourhood']=='Not assigned', 'Neighbourhood'] = df['Borough']
df = df.groupby('Postcode').agg({'Borough':'first', 
                                 'Neighbourhood': ', '.join
                                }).reset_index()
df.head()

Requirement already satisfied: lxml in /usr/local/lib/python3.7/site-packages (4.3.1)
Note: you may need to restart the kernel to use updated packages.

/usr/local/lib/python3.7/site-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/usr/local/Cellar/ipython/7.3.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

## Read and transform CSV
*We choose to read the csv to limit the frustration and time consumption*

Read in the csv file and rename the "Postal Code" column to make the next step simpler in the dataframe reconstruction.

In [20]:
lnglat_df = pd.read_csv('./Geospatial_Coordinates.csv')
lnglat_df = lnglat_df.rename(index=str, columns={"Postal Code": "Postcode"})
lnglat_df.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

## Merge dataframes
Leveraging the previous rename() step we perform a merge of the df from the scrape and the dataaframe from the csv file load based on the "Postcode" column.

In [21]:
final_df = pd.merge(df, lnglat_df, on='Postcode')
final_df.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476